# Change File Name to config.env

API_ID = "3314857"
API_HASH = "02b8371f37c3a82a8674e1ee84291bde"
BOT_TOKEN = "5036943571:AAFJH5szi4sUf8IOQtDh4R5LBPgY4IXeBhM"
TO_CHATS = "-1001169215995"
FROM_CHATS = "-1001217104442"
ADVANCE_CONFIG = ""
TELEGRAM_SESSION = "1AZWarzgBu6khOvsc0TafIprePnbMIX2XhAKCfFaop1aXZ7rh53GX4bTxNwbWlzgtp7x5WlGisjG5VEOTncdObKIbjhellpv3LkETTnxbiZxK8SFh80Q1N1DOglLdeEYz-izEY-1FxTuYYGEunyg2LkrlZMUtjaDSiUqshup9ydee4_KELX3kf7WzdK5cM36JP1TduScbOszG4lmhg_SZPhJXjvttKv8gBbOma4R5StIudVSpnMLLiBQC4kVf181DdV8YVF7cWJ59CsTmyPCxMLKa0Tq6K6I-9sLrl1MyjQn-1VOFl3zoiaTRMXtA28GZbEZhqhYANurAd3L57RQMw_UPV1xeWaM="
